<br><br><br><br>

<div class="well font-things">
  <h1>Welcome to Rails Community</h1>
  <p>
    You are Rails passionate dev?! 
    <br>
    If answes is YES, login with your facebook account ane enjoy sharing experience 
    with others Rails devs. 
    <br>
    You can vote for projects you like the most, you can share your own projects to be starred by other devs, report issue and add log errors so others can help you solve it :)
    <br><br>
    Are you ready to dive in Rails World? 
    <br>
    <div>
      <%= link_to "Login with Facebook", "auth/facebook", class: "btn btn-primary btn-lg" %>
    </div>
  </p>
</div>