/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require devise_bootstrap_views
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');


html, body {
	font-family: 'Raleway', sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}


#logo {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	letter-spacing: -1px;
	padding: 15px 0;
	a {
		color: #cc0000;
	}
	margin-left: 70px;
	font-weight: 700;
}

html, body {
	font-family: 'Raleway', sans-serif;
}

.font-color {
	color: #710000;
}

.navbar-color {
	background-color: #fce7e7;
} 

.login {
	margin-top: 13px;
	margin-right: 70px;
}

#main_content {

	padding-bottom: 100px;

	.author {
		color: #008000;
	}

	.font-things {
		color: #710000;
		font-weight: 300;
		font-size: 18px;
	}

	#content {
		float: none;
	}
	
	
	.submit {
		background-color: #008000;
	}
	.back_link {
		color: #008000;
		font-weight: 700;
		font-size: 15px;
	}
}

.bg-4 {
	background-color: #fce7e7;
	color: #710000;
}


.container-footer {
    padding-top: 30px;
    padding-bottom: 30px;
}